[submodule "packages/reactivecore"]
	path = packages/reactivecore
	url = git@github.com:appbaseio/reactivecore.git
	branch = master
[submodule "packages/playground"]
	path = packages/playground
	url = git@github.com:appbaseio/playground.git
	branch = dev
[submodule "packages/vue-playground"]
	path = packages/vue-playground
	url = git@github.com:appbaseio/vue-playground.git
	branch = master