@font-face {
  font-family: 'Source Sans Pro Extra Light Italic';
  src: url("../fonts/source/sourcesanspro-extralightit.eot");
  src: url("../fonts/source/sourcesanspro-extralightit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-extralightit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-extralightit.woff") format("woff"), url("../fonts/source/sourcesanspro-extralightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url("../fonts/source/sourcesanspro-light.eot");
  src: url("../fonts/source/sourcesanspro-light.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-light.woff2") format("woff2"), url("../fonts/source/sourcesanspro-light.woff") format("woff"), url("../fonts/source/sourcesanspro-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url("../fonts/source/sourcesanspro-regular.eot");
  src: url("../fonts/source/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-regular.woff2") format("woff2"), url("../fonts/source/sourcesanspro-regular.woff") format("woff"), url("../fonts/source/sourcesanspro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url("../fonts/source/sourcesanspro-bold.eot");
  src: url("../fonts/source/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-bold.woff2") format("woff2"), url("../fonts/source/sourcesanspro-bold.woff") format("woff"), url("../fonts/source/sourcesanspro-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Extra Light';
  src: url("../fonts/source/sourcesanspro-extralight.eot");
  src: url("../fonts/source/sourcesanspro-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-extralight.woff2") format("woff2"), url("../fonts/source/sourcesanspro-extralight.woff") format("woff"), url("../fonts/source/sourcesanspro-extralight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semi Bold';
  src: url("../fonts/source/sourcesanspro-semibold.eot");
  src: url("../fonts/source/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-semibold.woff2") format("woff2"), url("../fonts/source/sourcesanspro-semibold.woff") format("woff"), url("../fonts/source/sourcesanspro-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Light Italic';
  src: url("../fonts/source/sourcesanspro-lightit.eot");
  src: url("../fonts/source/sourcesanspro-lightit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-lightit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-lightit.woff") format("woff"), url("../fonts/source/sourcesanspro-lightit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Italic';
  src: url("../fonts/source/sourcesanspro-it.eot");
  src: url("../fonts/source/sourcesanspro-it.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-it.woff2") format("woff2"), url("../fonts/source/sourcesanspro-it.woff") format("woff"), url("../fonts/source/sourcesanspro-it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Semibold Italic';
  src: url("../fonts/source/sourcesanspro-semiboldit.eot");
  src: url("../fonts/source/sourcesanspro-semiboldit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-semiboldit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-semiboldit.woff") format("woff"), url("../fonts/source/sourcesanspro-semiboldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black Italic';
  src: url("../fonts/source/sourcesanspro-blackit.eot");
  src: url("../fonts/source/sourcesanspro-blackit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-blackit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-blackit.woff") format("woff"), url("../fonts/source/sourcesanspro-blackit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url("../fonts/source/sourcesanspro-black.eot");
  src: url("../fonts/source/sourcesanspro-black.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-black.woff2") format("woff2"), url("../fonts/source/sourcesanspro-black.woff") format("woff"), url("../fonts/source/sourcesanspro-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Source Sans Pro Bold Italic';
  src: url("../fonts/source/sourcesanspro-boldit.eot");
  src: url("../fonts/source/sourcesanspro-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/source/sourcesanspro-boldit.woff2") format("woff2"), url("../fonts/source/sourcesanspro-boldit.woff") format("woff"), url("../fonts/source/sourcesanspro-boldit.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body {
  font-size: 18px;
  color: #333;
  font-family: "Source Sans Pro Light";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 14px; } }

section {
  padding: 100px 0; }
  section .section-head .title {
    color: #333;
    font-family: "Source Sans Pro Semi Bold";
    margin: 0;
    padding-bottom: 5px;
    font-size: 2rem; }

#top {
  padding-top: 120px;
  background-color: #2251D1;
  color: #fff; }
  #top .row {
    max-width: 1200px;
    margin: 0 auto; }
  #top .landing-section {
    padding: 40px 15px; }
  #top .last-section {
    padding-top: 0;
    padding-bottom: 0; }
  #top .star-frame {
    margin-left: 20px;
    padding-top: 5px; }
  #top .website-title {
    font-size: 3.2rem;
    line-height: 100%;
    margin: 0 0 24px;
    font-family: "Source Sans Pro Black";
    position: relative;
    display: inline-block; }
    #top .website-title img {
      position: absolute;
      top: -20px;
      right: -30px;
      width: 30px; }
  #top p {
    font-size: 1.5rem;
    font-family: "Source Sans Pro Light"; }
  @media screen and (max-width: 768px) {
    #top .s-breakline {
      display: block;
      margin-bottom: 10px; }
    #top .landing-content {
      text-align: center; } }

#features {
  background: #FFF; }
  #features .feature {
    padding: 0; }
    #features .feature .img-container {
      height: 200px;
      display: flex; }
      #features .feature .img-container img {
        margin: auto; }
    #features .feature .title {
      font-size: 1.5rem;
      font-family: "Source Sans Pro Semi Bold"; }
    #features .feature .description {
      font-size: 1.2rem;
      max-width: 300px;
      padding: 5px 15px;
      margin: 20px auto;
      color: #333; }
      #features .feature .description .inner-description {
        font-size: 0.8rem; }

.install-row a {
  color: #333; }
  @media screen and (max-width: 768px) {
    .install-row a {
      margin-bottom: 10px; } }

#ui-components {
  background: #FFFDE7;
  color: #333;
  padding-bottom: 40px; }
  #ui-components .container {
    width: 95%;
    max-width: 1250px; }
  #ui-components .section-head .title {
    color: #333; }
  #ui-components .js-packery > * {
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      #ui-components .js-packery > * {
        margin-bottom: 60px; } }
  #ui-components img {
    max-width: calc(100% - 15px); }
    @media (min-width: 768px) {
      #ui-components img {
        max-width: calc(100% - 30px); } }

#use-cases {
  background-color: #FFF; }
  #use-cases .tab-container {
    margin: 30px 0; }
    #use-cases .tab-container .tab-content {
      padding: 0 30px; }
      #use-cases .tab-container .tab-content .tab-text {
        padding-bottom: 10px; }
        #use-cases .tab-container .tab-content .tab-text .title {
          margin-top: 0;
          font-size: 1.5rem;
          font-family: "Source Sans Pro Semi Bold"; }
      #use-cases .tab-container .tab-content .img-container img {
        max-height: 100%;
        margin: 0 auto; }
      @media screen and (max-width: 768px) {
        #use-cases .tab-container .tab-content {
          padding: 0; }
          #use-cases .tab-container .tab-content .img-container {
            padding: 15px; } }
    #use-cases .tab-container .nav-tabs {
      padding-top: 20px;
      border: 0; }
      #use-cases .tab-container .nav-tabs li {
        position: relative; }
        #use-cases .tab-container .nav-tabs li:before {
          content: '';
          position: absolute;
          top: 0;
          left: 5px;
          width: calc(100% - 10px);
          height: 3px;
          background: #FFD600;
          border-radius: 6px; }
        #use-cases .tab-container .nav-tabs li.active:before, #use-cases .tab-container .nav-tabs li:hover:before {
          height: 6px;
          top: -2px; }
        #use-cases .tab-container .nav-tabs li.active a, #use-cases .tab-container .nav-tabs li:hover a {
          border: 0;
          background: transparent; }
          #use-cases .tab-container .nav-tabs li.active a:hover, #use-cases .tab-container .nav-tabs li:hover a:hover {
            border: 0;
            background: transparent; }
  #use-cases .last-actioncall {
    margin-top: 50px; }

#footer, footer {
  background: #2251D1;
  color: #fff; }
  #footer h2, footer h2 {
    font-size: 2rem;
    font-family: "Source Sans Pro Semi Bold"; }

footer {
  padding: 15px 0;
  color: #fff; }
  footer .navbar-nav {
    margin: 0px -15px; }
  footer .footer-link, footer .navbar-nav > li > a {
    color: #fff;
    padding: 10px 15px;
    line-height: 20px; }
    footer .footer-link:hover, footer .navbar-nav > li > a:hover {
      background-color: transparent; }

.semi-bold {
  font-family: "Source Sans Pro Semi Bold"; }

.fixed-width {
  display: inline-block;
  min-width: 118px; }

.js-swapper {
  display: inline-block;
  margin: 0 3px;
  padding: 2px 8px;
  min-width: 60px;
  font-family: "Source Sans Pro Semi Bold";
  background-color: #143394;
  font-size: 1.4rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.theme-btn {
  background: #FFD600;
  color: #333;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.72em 40px;
  border-radius: 8px;
  font-family: "Source Sans Pro Semi Bold";
  border: 0;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .theme-btn:active, .theme-btn:focus, .theme-btn:hover {
    color: #fff;
    text-decoration: none; }
  .theme-btn.theme-btn-inverse {
    background: #333;
    color: #FFD600; }
    .theme-btn.theme-btn-inverse:hover {
      color: #fff;
      background: #e6c100; }
  .theme-btn:hover {
    color: #fff;
    background: #e6c100; }

@media screen and (max-width: 768px) {
  #features .feature {
    padding-bottom: 30px; }
  footer {
    text-align: center; }
    footer .footer-link {
      float: none;
      width: 100%;
      display: block;
      padding: 10px 0; } }

.m-b-1 {
  margin-bottom: 15px; }

.m-b-2 {
  margin-bottom: 30px; }

.m-b-3 {
  margin-bottom: 45px; }

.m-b-4 {
  margin-bottom: 60px; }

.m-t-1 {
  margin-top: 15px; }

.m-t-2 {
  margin-top: 30px; }

.m-t-3 {
  margin-top: 45px; }

.m-t-4 {
  margin-top: 60px; }

.flex-box {
  display: flex; }
  .flex-box .flex-center {
    margin: auto;
    text-align: center; }
  @media screen and (max-width: 768px) {
    .flex-box {
      display: block; } }

.mini-btn {
  background-color: #2251D1;
  display: block;
  width: 160px;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  word-spacing: 0.08em;
  letter-spacing: 0.04em;
  padding: 12px;
  color: #fff; }
  .mini-btn:hover, .mini-btn:focus {
    color: #fff;
    text-decoration: none; }

.row.demo-container-block .fa-external-link {
  font-size: 14px;
  margin-right: 4px; }

ul > li {
  list-style: none; }

.card {
  width: 14em;
  height: 10em;
  margin: 1.5em auto;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.21), 0 16px 28px rgba(0, 0, 0, 0.22);
  border: 1px solid #eee; }
  .card:hover {
    text-decoration: none; }

.card .image {
  flex-grow: 2;
  background-color: #ccc;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 12px 0;
  letter-spacing: 0.05em;
  text-align: center; }

.align-center {
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .align-center--small {
    flex-direction: column; }
  .star-frame {
    margin-top: 20px; } }

.cta-buttons {
  margin-bottom: -5px; }
  .cta-buttons > * {
    margin: 0 5px 5px; }

.cta-button {
  background: #FFD600;
  font-weight: bold;
  font-family: source sans pro, sans-serif;
  color: #4d4000;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px; }
  .cta-button:hover, .cta-button:active, .cta-button:focus {
    text-decoration: none;
    color: #4d4000;
    background: #f5cd00; }

.producthunt-backlink {
  display: none;
  position: relative;
  top: -25px;
  left: 50px;
  background: #da552f;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
  padding: 5px 7px;
  font-size: 12px;
  font-weight: bold;
  transition: background 400ms ease;
  font-weight: bold;
  font-family: source sans pro, sans-serif; }
  .producthunt-backlink:hover, .producthunt-backlink:active, .producthunt-backlink:focus {
    background: #de6745;
    color: white;
    text-decoration: none; }

.github-button {
  font-family: source sans pro, sans-serif;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  background-color: #eee;
  background-image: linear-gradient(to bottom, #fcfcfc, #eee);
  display: inline-block;
  color: #333;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  outline: 0;
  white-space: nowrap;
  user-select: none;
  position: relative;
  z-index: 1; }
  .github-button img {
    height: 26px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 5px; }
  .github-button:hover, .github-button:active, .github-button:focus {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #eee, #ddd);
    border-color: #ccc;
    color: #333; }

@keyframes slideRight {
  100% {
    transform: translateX(0); } }

.js-stars {
  display: none;
  transition: all 0.4s cubic-bezier(1, 0.48, 0.89, 1.33);
  transform: translateX(-100px);
  animation: 800ms slideRight forwards;
  animation-delay: 200ms;
  padding: 0 10px;
  height: 35px;
  line-height: 32px;
  border: 2px solid #597CDC;
  font-family: source sans pro, sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  position: relative;
  margin-left: 7px; }
  @media (min-width: 768px) {
    .js-stars {
      display: block; } }
  .js-stars::before, .js-stars::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-50%); }
  .js-stars::before {
    left: -16px;
    border: 7px solid #597CDC;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent; }
  .js-stars::after {
    left: -13px;
    border: 7px solid #2251D1;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent; }

#home .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  border: 0;
  border-radius: 0;
  margin-bottom: 0; }
  #home .navbar .navbar-collapse {
    text-align: center; }
    #home .navbar .navbar-collapse .navbar-center {
      float: none;
      display: inline-block;
      margin-bottom: -5px;
      clear: both; }
  @media (min-width: 768px) {
    #home .navbar .navbar-brand {
      margin-left: 0px;
      padding: 20px 15px 15px 15px; } }
  #home .navbar .navbar-brand img {
    width: 30px; }
  #home .navbar .icon-bar {
    background-color: #fff; }
  #home .navbar .navbar-nav li.active a {
    background: transparent; }
  #home .navbar .navbar-nav li {
    background: #2251D1;
    padding: 15px 20px 5px;
    z-index: 10; }
  #home .navbar .navbar-nav li a {
    color: #fff;
    font-size: 17px;
    font-weight: bold; }
