body{
    margin: 0px;
}
.logo{
    display: flex;
    width: 9rem;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}
.cover{
	align-items: center;
    background: rgb(119,47,150);
    background: linear-gradient(90deg, rgba(119,47,150,1) 0%, rgba(222,52,139,1) 50%, rgba(173,0,133,1) 100%);
    background-position: 50%;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 368px;
    padding: .5rem 1rem;
    text-align: center;
}
.coverTitle{
	font-size: 38px;
    font-weight: 300;
}
.searchBox{
    width: 30rem;
    max-width: 80vw;
    color: black;
}
.searchBox input{
    border-radius: 5px;
}
