html, body {
	font-size: 18px;
	color: $font-color;
	font-family: $font-light;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

section {
	padding: 100px 0;
	.section-head {
		.title {
			color: $font-color;
			font-family: $font-semi-bold;
			margin: 0;
			padding-bottom: 5px;
			font-size: 2rem;
		}
	}
}

#top {
	padding-top: 120px;
	background-color: $primary-color;
	color: $secondary-font-color;

	.row {
		max-width: 1200px;
		margin: 0 auto;
	}

	.landing-section {
		padding: 40px 15px;
	}

	.last-section {
		padding-top: 0;
		padding-bottom: 0;
	}

	.star-frame {
		margin-left: 20px;
		padding-top: 5px;
	}

	.website-title {
		font-size: 3.2rem;
		line-height: 100%;
		margin: 0 0 24px;
		font-family: $font-black;
		position: relative;
		display: inline-block;

		img {
		  position: absolute;
		  top: -20px;
		  right: -30px;
		  width: 30px;
		}
	}

	p {
		font-size: 1.5rem;
		font-family: $font-light;
	}

	@media screen and (max-width: 768px) {
		.s-breakline {
			display: block;
			margin-bottom: 10px;
		}
		.landing-content {
			text-align: center;
		}
	}
}

#features {
	background: $secondary-color;
	.feature {
		padding: 0;
		.img-container {
			height: 200px;
			display: flex;
			img {
				margin: auto;
			}
		}
		.title {
			font-size: 1.5rem;
			font-family: $font-semi-bold;
		}
		.description {
			font-size: 1.2rem;
			max-width: 300px;
			padding: 5px 15px;
			margin: 20px auto;
			color: $font-color;
			.inner-description {
				font-size: 0.8rem;
			}
		}
	}
}

.install-row a {
	color: $font-color;
	@media screen and (max-width: 768px) {
		margin-bottom: 10px;
	}
}

#ui-components {
	background: $ternary-color;
	color: $font-color;
	padding-bottom: 40px;

	.container {
		width: 95%;
		max-width: 1250px;
	}

	.section-head .title {
		color: $font-color;
	}

	.js-packery {
		> * {
			margin-bottom: 30px;

			@media (min-width: 768px) {
				margin-bottom: 60px;
			}
		}
	}

	img {
		max-width: calc(100% - 15px);

		@media (min-width: 768px) {
			max-width: calc(100% - 30px);
		}
	}
}

#use-cases {
	background-color: $secondary-color;
	.tab-container {
		margin: 30px 0;
		.tab-content {
			padding: 0 30px;
			.tab-text {
				padding-bottom: 10px;
				.title {
					margin-top: 0;
					font-size: 1.5rem;
					font-family: $font-semi-bold;
				}
			}
			.img-container {
				img {
					max-height: 100%;
					margin: 0 auto;
				}
			}
			@media screen and (max-width: 768px) {
				padding: 0;
				.img-container {
					padding: 15px;
				}
			}
		}
		.nav-tabs {
			padding-top: 20px;
			border: 0;
			li {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 5px;
					width: calc(100% - 10px);
					height: 3px;
					background: $yellow-color;
					border-radius: 6px;
				}
				&.active, &:hover {
					&:before {
						height: 6px;
						top: -2px;
					}
					a {
						border: 0;
						background: transparent;
						&:hover {
							border: 0;
							background: transparent;
						}
					}
				}
			}
		}
	}
	.last-actioncall {
		margin-top: 50px;
	}
}
#footer, footer {
	background: $primary-color;
	color: $secondary-font-color;
	h2 {
		font-size: 2rem;
		font-family: $font-semi-bold;
	}
}
footer {
	padding: 15px 0;
	color: $secondary-font-color;
	.navbar-nav {
		margin: 0px -15px;
	}
	.footer-link, .navbar-nav>li>a {
		color: $secondary-font-color;
		padding: 10px 15px;
		line-height: 20px;
		&:hover {
			background-color: transparent;
		}
	}
}

.semi-bold {
	font-family: $font-semi-bold;
}
.fixed-width {
	display: inline-block;
	min-width: 118px;
}
.js-swapper {
	display: inline-block;
	margin: 0 3px;
	padding: 2px 8px;
	min-width: 60px;
	font-family: $font-semi-bold;
	background-color: #143394;
	font-size: 1.4rem;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.theme-btn {
	background: $yellow-color;
	color: $font-color;
	text-transform: uppercase;
	font-size: 1em;
	padding: 0.72em 40px;
	border-radius: 8px;
	font-family: $font-semi-bold;
	border: 0;
	outline: none;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	&:active, &:focus, &:hover {
		color: #fff;
		text-decoration: none;
	}
	&.theme-btn-inverse {
		background: $font-color;
		color: $yellow-color;
		&:hover {
			color: #fff;
			background: darken($yellow-color, 5%);
		}
	}
	&:hover {
		color: #fff;
		background: darken($yellow-color, 5%);
	}
}
@media screen and (max-width: 768px) {
	#features {
		.feature {
			padding-bottom: 30px;
		}
	}
	footer {
		text-align: center;
		.footer-link {
			float: none;
			width: 100%;
			display: block;
			padding: 10px 0;
		}
	}
}
.m-b-1 {
	margin-bottom: 15px;
}
.m-b-2 {
	margin-bottom: 30px;
}
.m-b-3 {
	margin-bottom: 45px;
}
.m-b-4 {
	margin-bottom: 60px;
}
.m-t-1 {
	margin-top: 15px;
}
.m-t-2 {
	margin-top: 30px;
}
.m-t-3 {
	margin-top: 45px;
}
.m-t-4 {
	margin-top: 60px;
}
.flex-box {
	display: flex;
	.flex-center {
		margin: auto;
		text-align: center;
	}
	@media screen and (max-width: 768px) {
		display: block;
	}
}

.mini-btn {
	background-color: $primary-color;
	display: block;
	width: 160px;
	text-align: center;
	margin: 20px 0;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	word-spacing: 0.08em;
	letter-spacing: 0.04em;
	padding: 12px;
	color: #fff;

	&:hover, &:focus {
		color: #fff;
		text-decoration: none;
	}
}

.row.demo-container-block .fa-external-link {
	font-size: 14px;
	margin-right: 4px;
}

ul > li {
	list-style: none;
}

.card {
	width: 14em;
	height: 10em;
	margin: 1.5em auto;
	background: white;
	display: flex;
	flex-direction: column;
	box-shadow: 0 25px 55px rgba(0, 0, 0, 0.21), 0 16px 28px rgba(0, 0, 0, 0.22);
	border: 1px solid #eee;

	&:hover {
		text-decoration: none;
	}
}

.card .image {
	flex-grow: 2;
	background-color: #ccc;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.card h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 12px 0;
	letter-spacing: 0.05em;
	text-align: center;
}

.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.align-center--small {
		flex-direction: column;
	}
	.star-frame {
		margin-top: 20px;
	}
}

.cta-buttons {
	margin-bottom: -5px;

	> * {
		margin: 0 5px 5px;
	}
}

.cta-button {
	background: #FFD600;
	font-weight: bold;
	font-family: source sans pro, sans-serif;
	color: darken(#FFD600, 35%);
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 3px;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		color: darken(#FFD600, 35%);
		background: darken(#FFD600, 2%);
	}
}

.producthunt-backlink {
	display: none;
	position: relative;
	top: -25px;
	left: 50px;
	background: #da552f;
	color: white;
	text-decoration: none;
	border-radius: 2px;
	text-align: center;
	padding: 5px 7px;
	font-size: 12px;
	font-weight: bold;
	transition: background 400ms ease;
	font-weight: bold;
	font-family: source sans pro, sans-serif;

	&:hover,
	&:active,
	&:focus {
		background: lighten(#da552f, 5%);
		color: white;
		text-decoration: none;
	}
}

.github-button {
	font-family: source sans pro, sans-serif;
	padding: 0 20px;
	height: 45px;
	line-height: 45px;
	font-weight: bold;
	background-color: #eee;
	background-image: linear-gradient(to bottom,#fcfcfc,#eee);
	display: inline-block;
	color: #333;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	text-decoration: none;
	outline: 0;
	white-space: nowrap;
	user-select: none;
	position: relative;
	z-index: 1;

	img {
		height: 26px;
		display: inline-block;
		position: relative;
		top: -2px;
		margin-right: 5px;
	}

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
		background-color: #ddd;
		background-image: linear-gradient(to bottom,#eee,#ddd);
		border-color: #ccc;
		color: #333;
	}
}

@keyframes slideRight {
	100% {
		transform: translateX(0);
	}
}

.js-stars {
	display: none;
	transition: all .4s cubic-bezier(1, 0.48, 0.89, 1.33);
	transform: translateX(-100px);
	animation: 800ms slideRight forwards;
	animation-delay: 200ms;
	padding: 0 10px;
	height: 35px;
	line-height: 32px;
	border: 2px solid #597CDC;
	font-family: source sans pro, sans-serif;
	font-weight: bold;
	color: white;
	border-radius: 3px;
	font-size: 15px;
	position: relative;
	margin-left: 7px;

	@media (min-width: 768px) {
		display: block;
	}

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	&::before {
		left: -16px;
		border: 7px solid #597CDC;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-top-color: transparent;
	}

	&::after {
		left: -13px;
		border: 7px solid #2251D1;
		border-bottom-color: transparent;
		border-left-color: transparent;
		border-top-color: transparent;
	}
}

#home .navbar .navbar-brand img {
	position: relative;
	top: -5px;
	left: -5px;
}

@media (max-width: 768px) {
	.navbar-default .navbar-toggle {
		border-color: white;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background: #143394;
	}

	.navbar .navbar-nav li {
		background: none !important;
		padding: 15px !important;
		border-bottom: 1px solid lighten(#143394, 10%);
	}

	.navbar-nav {
		margin: 0 !important;
	}

	.navbar-collapse {
		padding: 0;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: white;
		background: #143394;
		position: relative;
		z-index: 9999;
	}
}
