/* layout */

body {
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 15px;
}

.row {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.col {
	flex: 1;
	padding: 15px;
}

.row > .col:first-child {
	border-right: 1px solid #ccc;
	max-width: 400px;
}

.row > .col:last-child {
	background: #fafafa;
}

@media all and (max-width: 767px) {
	.row {
		flex-direction: column;
	}

	.row > .col:first-child {
		border-right: none;
		max-width: none;
	}
}
