@font-face {
	font-family: 'Lato Regular';
	src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
