$themes: (
	rbc-red: (color: red, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-orange: (color: orange, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-yellow: (color: yellow, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-green: (color: green, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-blue: (color: #1893e7, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-dark: (color: #ccc, background: #555, font-color: #eee, input-bg: #aaa)
);

@each $theme,
$map in $themes {
	.#{$theme} {
		.rbc.rbc-categorysearch {
			input {
				color: map-get($map, font-color);
				background-color: map-get($map, input-bg);
			}

			.react-autosuggest__container {
				&:before {
					color: map-get($map, color);
				}
			}

			.react-autosuggest__suggestion {
				color: map-get($map, font-color);
				background-color: map-get($map, input-bg);
			}

			.react-autosuggest__suggestion--highlighted {
				background-color: #ddd;	// TODO: for both light and dark themes
			}

			.rbc-strong {
				color: map-get($map, color);
			}
		}
	}
}
