$themes: (
	rbc-red: (color: red, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-orange: (color: orange, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-yellow: (color: yellow, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-green: (color: green, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-blue: (color: #1893e7, background: #fff, font-color: #777, input-bg: #f5f5f5),
	rbc-dark: (color: #ccc, background: #555, font-color: #eee, input-bg: #aaa)
);
