$input-bg: darken($light-grey, 2%);
$text-primary: #424242;

.rbc.rbc-categorysearch {
	margin-top: 10px;
	padding: 0;
	display: flex;
	flex-direction: column;

	input {
		width: 100%;
		margin: 0;
		padding: 0 35px 0 10px;
		background-color: $input-bg;
		box-sizing: border-box;
		color: $text-primary;
	}

	.react-autosuggest__container {
		position: relative;

		&:before {
			content: "\f002";
			position: absolute;
			top: 15px;
			right: -6px;
			border: 0;
			width: 30px;
			height: 30px;
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
		}
	}

	.react-autosuggest__input--focused {
		outline: none;
	}

	.react-autosuggest__input--open {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.react-autosuggest__suggestions-container {
		display: none;
	}

	.react-autosuggest__suggestions-container--open {
		display: block;
		position: absolute;
		top: calc(3em - 2px);
		width: 100%;
		border: 1px solid #ccc;
		background-color: #fff;
		font-size: 16px;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		z-index: 2;
	}

	.react-autosuggest__suggestions-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		max-height: 210px;
		overflow-y: scroll;
	}

	.react-autosuggest__suggestion {
		cursor: pointer;
		padding: 10px;
		word-wrap: break-word;
		color: $text-primary;

		span {
			height: auto;
			max-height: 16px * 1.375 * 2;
			line-height: 1.375em;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.react-autosuggest__suggestion--highlighted {
		background-color: #ddd;
	}

	.rbc-strong {
		font-family: $font-bold;
	}
}
