.rbc.rbc-multilevelmenu-container {
	padding: 0;
	margin: 0;
	
	.rbc.rbc-multilevelmenu {
		overflow: auto;
		padding: 0;
		margin: 0;
		width: 100%;
		height: 60px;

		.rbc-list-container {
			padding: 5px 0;
			width: auto;

			&.row {
				height: 90px;
				width: 100%;
				white-space: nowrap;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				padding: 6px 10px;
				margin: 0;
				
				li {
					display: inline-block;
					margin: 12px;
				}
			}

			.rbc-list-item {
				background: transparent;
				border: 0;
				box-shadow: none;
				padding: 0;


				&.rbc-item-active {
					font-family: $font-bold;
				}
			}
		}
	}

	.rbc-sublist-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		height: 420px;
		overflow: hidden;
		padding: 15px;
		border-top: 1px solid #eee;

		.rbc-list-title {
			margin: 0;
			padding: 0;
			font-size: 15px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: #666;
			font-family: $font-bold;
		}

		ul {
			margin: 6px 0 15px;
			padding: 0;
			list-style: none;
			font-size: 14px;
			text-transform: capitalize;

			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
