.rbc.rbc-multilevelmenu-container {
	padding: 0;
	margin: 0;
	
	.rbc.rbc-multilevelmenu {
		overflow: auto;
		max-height: 500px;
		padding: 0;
		width: 100%;
		height: 60px;
		border-bottom: 1px solid #eee;

		.rbc-list-container {
			padding: 5px 0;
			width: auto;

			&.row {
				height: 90px;
				width: 100%;
				white-space: nowrap;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				padding: 6px 10px;
				margin: 0;
				
				li {
					display: inline-block;
					margin: 12px;
				}
			}

			.rbc-list-item {
				background: transparent;
				border: 0;
				box-shadow: none;
				padding: 0;


				&.rbc-item-active {
					font-family: $font-bold;
				}
			}
		}
	}
}

.rbc-sublist-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100px;
}
