#el_TvxDfTAtKp {
    stroke: none;
    stroke-width: 1;
    fill: none;
}
#el_D93PK3GbmJ {
    -webkit-transform: translate(163px, 131px);
    transform: translate(163px, 131px);
    fill: #d8d8d8;
}
