#el_X81iT9kZYo {
    stroke: none;
    stroke-width: 1;
    fill: none;
}
#el_gMpyalCphp {
    -webkit-transform: translate(163px, 131px);
    transform: translate(163px, 131px);
}
#el_c7H-3u-D4l {
    fill: #d8d8d8;
}
#el_qhFcdAAFwo {
    fill: #d8d8d8;
}
#el_M8X8g37WOI {
    stroke: #e83137;
    stroke-width: 21;
}
