<footer class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav navbar-nav navbar-left">
				<li><a href="https://opensource.appbase.io/reactive-manual" target="_blank">Read the Manual</a></li>
				<li><a href="https://opensource.appbase.io/playground/?knob-defaultSelected=%7B%22start%22%3A2%2C%22end%22%3A5%7D&selectedKind=s%2FRatingsFilter&selectedStory=With+defaultSelected&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-knobs&filterBy=ReactiveSearch" target="_blank">Component Playground</a></li>
			</ul>
			<a href="https://appbase.io" target="_blank" class="pull-right footer-link">
				Made with <i class="fa fa-heart"></i> by appbase.io
			</a>
		</div>
	</div>
</footer>
