<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand">
				<img src="website/dist/images/magnifying-glass.svg" alt="Magnifying glass">
				<a href="https://www.producthunt.com/posts/reactive-search" class="producthunt-backlink">Back to Product Hunt</a>
			</div>

		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="examples/">Example Apps</a></li>
				<li><a href="https://opensource.appbase.io/playground/?knob-defaultSelected=%7B%22start%22%3A2%2C%22end%22%3A5%7D&selectedKind=s%2FRatingsFilter&selectedStory=With+defaultSelected&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-knobs&filterBy=ReactiveSearch" target="_blank">Playground</a></li>
				<li class="active"><a href="https://opensource.appbase.io/reactive-manual" target="_blank">Manual <span class="sr-only">(current)</span></a></li>
				<li><a href="https://github.com/appbaseio/reactivesearch">Github</a></li>
			</ul>
		</div>
	</div>
</nav>
