$primary-color: #FECABA;
$secondary-color: #9988CD;
$font-color: #808080;
$light-color: #F8F8F8;
$yellow-color: #FFE94D;

$font-bold-i: "Source Sans Pro Bold Italic";
$font-black: "Source Sans Pro Black";
$font-black-i: "Source Sans Pro Black Italic";
$font-semi-bold-i: "Source Sans Pro Semibold Italic";
$font-extra-light: "Source Sans Pro Extra Light";
$font-light: "Source Sans Pro Light";
$font-bold: "Source Sans Pro Bold";
$font-regular: "Source Sans Pro Regular";
$font-extra-light-i: "Source Sans Pro Extra Light Italic";
$font-light-i: "Source Sans Pro Light Italic";
$font-italic: "Source Sans Pro Italic";
$font-semi-bold: "Source Sans Pro Semi Bold";
