@charset "UTF-8";
@font-face {
  font-family: 'Lato Regular';
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.rbc-red .rbc.rbc-categorysearch input {
  color: #777;
  background-color: #f5f5f5; }

.rbc-red .rbc.rbc-categorysearch .react-autosuggest__container:before {
  color: red; }

.rbc-red .rbc.rbc-categorysearch .react-autosuggest__suggestion {
  color: #777;
  background-color: #f5f5f5; }

.rbc-red .rbc.rbc-categorysearch .react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.rbc-red .rbc.rbc-categorysearch .rbc-strong {
  color: red; }

.rbc-red .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item .rbc-label {
  color: #777; }

.rbc-red .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active .rbc-label {
  color: red; }

.rbc-orange .rbc.rbc-categorysearch input {
  color: #777;
  background-color: #f5f5f5; }

.rbc-orange .rbc.rbc-categorysearch .react-autosuggest__container:before {
  color: orange; }

.rbc-orange .rbc.rbc-categorysearch .react-autosuggest__suggestion {
  color: #777;
  background-color: #f5f5f5; }

.rbc-orange .rbc.rbc-categorysearch .react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.rbc-orange .rbc.rbc-categorysearch .rbc-strong {
  color: orange; }

.rbc-orange .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item .rbc-label {
  color: #777; }

.rbc-orange .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active .rbc-label {
  color: orange; }

.rbc-yellow .rbc.rbc-categorysearch input {
  color: #777;
  background-color: #f5f5f5; }

.rbc-yellow .rbc.rbc-categorysearch .react-autosuggest__container:before {
  color: yellow; }

.rbc-yellow .rbc.rbc-categorysearch .react-autosuggest__suggestion {
  color: #777;
  background-color: #f5f5f5; }

.rbc-yellow .rbc.rbc-categorysearch .react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.rbc-yellow .rbc.rbc-categorysearch .rbc-strong {
  color: yellow; }

.rbc-yellow .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item .rbc-label {
  color: #777; }

.rbc-yellow .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active .rbc-label {
  color: yellow; }

.rbc-green .rbc.rbc-categorysearch input {
  color: #777;
  background-color: #f5f5f5; }

.rbc-green .rbc.rbc-categorysearch .react-autosuggest__container:before {
  color: green; }

.rbc-green .rbc.rbc-categorysearch .react-autosuggest__suggestion {
  color: #777;
  background-color: #f5f5f5; }

.rbc-green .rbc.rbc-categorysearch .react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.rbc-green .rbc.rbc-categorysearch .rbc-strong {
  color: green; }

.rbc-green .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item .rbc-label {
  color: #777; }

.rbc-green .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active .rbc-label {
  color: green; }

.rbc-blue .rbc.rbc-categorysearch input {
  color: #777;
  background-color: #f5f5f5; }

.rbc-blue .rbc.rbc-categorysearch .react-autosuggest__container:before {
  color: #1893e7; }

.rbc-blue .rbc.rbc-categorysearch .react-autosuggest__suggestion {
  color: #777;
  background-color: #f5f5f5; }

.rbc-blue .rbc.rbc-categorysearch .react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.rbc-blue .rbc.rbc-categorysearch .rbc-strong {
  color: #1893e7; }

.rbc-blue .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item .rbc-label {
  color: #777; }

.rbc-blue .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active .rbc-label {
  color: #1893e7; }

.rbc-dark .rbc.rbc-categorysearch input {
  color: #eee;
  background-color: #aaa; }

.rbc-dark .rbc.rbc-categorysearch .react-autosuggest__container:before {
  color: #ccc; }

.rbc-dark .rbc.rbc-categorysearch .react-autosuggest__suggestion {
  color: #eee;
  background-color: #aaa; }

.rbc-dark .rbc.rbc-categorysearch .react-autosuggest__suggestion--highlighted {
  background-color: #ddd; }

.rbc-dark .rbc.rbc-categorysearch .rbc-strong {
  color: #ccc; }

.rbc-dark .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item .rbc-label {
  color: #eee; }

.rbc-dark .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active .rbc-label {
  color: #ccc; }

.rbc.rbc-nestedlist-container {
  padding: 0;
  margin: 0; }
  .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist {
    overflow: auto;
    padding: 0; }
    .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-indent {
      padding-left: 1em; }
    .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist.rbc-title-active.rbc-search-inactive .row.rbc-list-container {
      height: calc(100% - 50px); }
    .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist.rbc-title-active.rbc-search-active .row.rbc-list-container {
      height: calc(100% - 98px); }
    .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist.rbc-title-inactive.rbc-search-inactive .row.rbc-list-container {
      height: 100%; }
    .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist.rbc-title-inactive.rbc-search-active .row.rbc-list-container {
      height: calc(100% - 48px); }
    .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-list-container {
      padding: 5px 0;
      width: 100%;
      overflow: auto; }
      .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-list-container.row {
        padding: 6px 10px;
        margin: 0; }
      .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-list-container .rbc-list-item {
        background: transparent;
        border: 0;
        box-shadow: none;
        padding: 0; }
        .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-list-container .rbc-list-item .rbc-count {
          margin: 0 10px 0 2px;
          top: -1px; }
        .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-list-container .rbc-list-item i.fa-chevron-right {
          color: #bfbfbf;
          font-size: 12px; }
        .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-list-container .rbc-list-item.rbc-item-active {
          font-family: "Lato Bold"; }
          .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-list-container .rbc-list-item.rbc-item-active i.fa-chevron-right {
            transform: rotate(90deg); }
    .rbc.rbc-nestedlist-container .rbc.rbc-nestedlist .rbc-search-container {
      padding: 0; }

.rbc.rbc-nestedmultilist-container {
  padding: 0;
  margin: 0; }
  .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist {
    overflow: auto;
    padding: 0; }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-item [type="checkbox"] + label:before, .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-item [type="checkbox"]:not(.filled-in) + label:after {
      margin-top: 4px; }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-sublist-container {
      margin-top: 4px; }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-indent {
      padding-left: 1.2em; }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist.rbc-title-active.rbc-search-inactive .row.rbc-list-container {
      height: calc(100% - 50px); }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist.rbc-title-active.rbc-search-active .row.rbc-list-container {
      height: calc(100% - 98px); }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist.rbc-title-inactive.rbc-search-inactive .row.rbc-list-container {
      height: 100%; }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist.rbc-title-inactive.rbc-search-active .row.rbc-list-container {
      height: calc(100% - 48px); }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-container {
      padding: 5px 0;
      width: 100%;
      overflow: auto; }
      .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-container.row {
        padding: 6px 10px;
        margin: 0; }
      .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item {
        background: transparent;
        border: 0;
        box-shadow: none;
        padding: 0; }
        .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item .rbc-count {
          margin: 0 10px 0 2px;
          top: -1px; }
        .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item i.fa-chevron-right {
          color: #bfbfbf;
          font-size: 12px; }
        .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active {
          font-family: "Lato Bold"; }
          .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-list-container .rbc-list-item.rbc-item-active i.fa-chevron-right {
            transform: rotate(90deg); }
    .rbc.rbc-nestedmultilist-container .rbc.rbc-nestedmultilist .rbc-search-container {
      padding: 0; }

.rbc.rbc-categorysearch {
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-direction: column; }
  .rbc.rbc-categorysearch input {
    width: 100%;
    margin: 0;
    padding: 0 35px 0 10px;
    box-sizing: border-box; }
  .rbc.rbc-categorysearch .react-autosuggest__container {
    position: relative; }
    .rbc.rbc-categorysearch .react-autosuggest__container:before {
      content: "\f002";
      position: absolute;
      top: 15px;
      right: -6px;
      border: 0;
      width: 30px;
      height: 30px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased; }
  .rbc.rbc-categorysearch .react-autosuggest__input--focused {
    outline: none; }
  .rbc.rbc-categorysearch .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .rbc.rbc-categorysearch .react-autosuggest__suggestions-container {
    display: none; }
  .rbc.rbc-categorysearch .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: calc(3em - 2px);
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2; }
  .rbc.rbc-categorysearch .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    max-height: 210px;
    overflow-y: scroll; }
  .rbc.rbc-categorysearch .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px;
    word-wrap: break-word; }
    .rbc.rbc-categorysearch .react-autosuggest__suggestion span {
      height: auto;
      max-height: 44px;
      line-height: 1.375em;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis; }
  .rbc.rbc-categorysearch .rbc-strong {
    font-family: "Lato Bold"; }

.rbc.rbc-togglelist {
  padding: 0; }
  .rbc.rbc-togglelist .rbc-list-item {
    margin: 10px 0; }

.rbc.rbc-dynamicrangeslider {
  padding: 0 6px; }
  .rbc.rbc-dynamicrangeslider .rbc-rangeslider-container {
    margin: 25px 0; }
    .rbc.rbc-dynamicrangeslider .rbc-rangeslider-container .rbc-title {
      padding: 0;
      padding-bottom: 15px; }
    .rbc.rbc-dynamicrangeslider .rbc-rangeslider-container .inputRangeContainer {
      padding: 15px 6px; }
  .rbc.rbc-dynamicrangeslider.rbc-labels-active .rbc-rangeslider-container {
    margin: 25px 0 35px; }

.rbc-bar-container {
  position: relative;
  height: 50px;
  width: 100%; }
  .rbc-bar-container .rbc-bar-item {
    display: inline-block;
    background: whitesmoke;
    position: relative; }
    .rbc-bar-container .rbc-bar-item .bar {
      display: block;
      width: 100%;
      height: 100%; }

.rbc.rbc-tagcloud {
  padding: 0;
  overflow-y: scroll; }
  .rbc.rbc-tagcloud .rbc-list-container {
    margin: 10px;
    height: auto; }
    .rbc.rbc-tagcloud .rbc-list-container .rbc-list-item {
      display: inline-block;
      margin: 0 4px 0 0;
      padding: 4px 6px;
      border-radius: 3px;
      line-height: 1.2em; }
      .rbc.rbc-tagcloud .rbc-list-container .rbc-list-item.active {
        background-color: #eee; }
      .rbc.rbc-tagcloud .rbc-list-container .rbc-list-item .rbc-count {
        padding: 0 0.3em; }

.rbc.rbc-ratingsfilter {
  padding: 0; }
  .rbc.rbc-ratingsfilter .row {
    margin: 4px 0; }
  .rbc.rbc-ratingsfilter .rbc-label {
    cursor: pointer; }
    .rbc.rbc-ratingsfilter .rbc-label > div {
      display: inline-block; }
    .rbc.rbc-ratingsfilter .rbc-label > span {
      display: inline-block;
      margin-left: 8px;
      position: relative;
      top: -5px; }
    .rbc.rbc-ratingsfilter .rbc-label:hover {
      color: #424242; }
    .rbc.rbc-ratingsfilter .rbc-label.rbc-active {
      font-family: "Lato Bold";
      color: #333; }

.rbc.rbc-multilevelmenu-container {
  padding: 0;
  margin: 0; }
  .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu {
    overflow: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 60px; }
    .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-list-container,
    .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-sublist-container {
      padding: 5px 0;
      width: auto; }
      .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-list-container.row,
      .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-sublist-container.row {
        height: 90px;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding: 6px 10px;
        margin: 0; }
        .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-list-container.row li,
        .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-sublist-container.row li {
          display: inline-block;
          margin: 12px; }
      .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-list-container .rbc-list-item,
      .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-sublist-container .rbc-list-item {
        background: transparent;
        border: 0;
        box-shadow: none;
        padding: 0; }
        .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-list-container .rbc-list-item.rbc-item-active,
        .rbc.rbc-multilevelmenu-container .rbc-multilevelmenu .rbc-sublist-container .rbc-list-item.rbc-item-active {
          font-family: "Lato Bold"; }
  .rbc.rbc-multilevelmenu-container .rbc-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 420px;
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee; }
    .rbc.rbc-multilevelmenu-container .rbc-list-container .rbc-list-title {
      margin: 0;
      padding: 0;
      font-size: 15px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #666;
      font-family: "Lato Bold"; }
    .rbc.rbc-multilevelmenu-container .rbc-list-container ul {
      margin: 6px 0 15px;
      padding: 0;
      list-style: none;
      font-size: 14px;
      text-transform: capitalize; }
      .rbc.rbc-multilevelmenu-container .rbc-list-container ul a:hover {
        text-decoration: underline; }

.rbc-resultcard-scroll-container {
  position: relative;
  overflow: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .rbc-resultcard-scroll-container .rbc-resultcard-item {
    display: block;
    width: 50%;
    min-height: 300px;
    height: auto;
    max-width: 280px;
    border: 1px solid #eee; }
    .rbc-resultcard-scroll-container .rbc-resultcard-item__image {
      width: 100%;
      height: 220px;
      background-color: #fcfcfc;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
    .rbc-resultcard-scroll-container .rbc-resultcard-item__title {
      padding: 8px 8px 0;
      font-family: "Lato Bold";
      color: #777;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .rbc-resultcard-scroll-container .rbc-resultcard-item__title:hover {
        color: #555;
        text-decoration: underline; }
    .rbc-resultcard-scroll-container .rbc-resultcard-item__desc {
      padding: 0 8px;
      color: #777;
      font-size: 14px;
      letter-spacing: 0.02em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .rbc-resultcard-scroll-container .rbc-resultcard-item__rating {
      padding: 0 8px; }

.rbc-resultcard-container {
  height: auto;
  max-height: 700px;
  overflow: auto;
  margin: 5px 0;
  padding-bottom: 45px; }
  .rbc-resultcard-container .rbc-placeholder {
    padding: 60px 15px;
    text-align: center; }
  .rbc-resultcard-container.rbc-sort-active .rbc-sortoptions {
    position: absolute;
    right: 0;
    margin: 10px 0; }
    .rbc-resultcard-container.rbc-sort-active .rbc-sortoptions select {
      height: 32px; }

.rbc-resultcard {
  position: relative; }

.rbc-resultcard-container .rbc-json-print,
.rbc-resultlist-container .rbc-json-print {
  width: 100%;
  font-size: 14px;
  margin: 20px 0; }
  .rbc-resultcard-container .rbc-json-print span,
  .rbc-resultlist-container .rbc-json-print span {
    width: 60px;
    display: inline-block;
    cursor: pointer;
    float: left; }
    .rbc-resultcard-container .rbc-json-print span.head:after,
    .rbc-resultlist-container .rbc-json-print span.head:after {
      content: '▾';
      display: inline-block;
      margin-left: 5px; }
    .rbc-resultcard-container .rbc-json-print span.head.collapsed:after,
    .rbc-resultlist-container .rbc-json-print span.head.collapsed:after {
      webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .rbc-resultcard-container .rbc-json-print pre,
  .rbc-resultlist-container .rbc-json-print pre {
    width: calc(100% - 60px);
    display: inline-block;
    background-color: #fdfdfd;
    color: #666;
    margin: 0;
    padding: 0 12px;
    float: left; }

.rbc-resultlist-container .rbc-json-print {
  margin: 20px 0 40px; }

.rbc-resultlist-scroll-container {
  position: relative;
  overflow: auto;
  padding: 0; }
  .rbc-resultlist-scroll-container .rbc-resultlist-item {
    display: block;
    width: 100%;
    height: auto;
    padding: 12px 0; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item p {
      margin: 0; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item__image {
      width: 200px;
      height: 200px;
      background-color: #fcfcfc;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item__details {
      width: calc(100% - 200px);
      padding: 0 8px; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item__title {
      width: 100%;
      padding: 8px 0 0;
      font-family: "Lato Bold";
      color: #777;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.02em;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .rbc-resultlist-scroll-container .rbc-resultlist-item__title:hover {
        color: #555;
        text-decoration: underline; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item__desc {
      width: 100%;
      padding: 4px 0;
      color: #777;
      font-size: 14px;
      letter-spacing: 0.02em; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item__rating {
      width: 100%;
      display: inline-block;
      padding: 0; }
      .rbc-resultlist-scroll-container .rbc-resultlist-item__rating > div {
        position: static !important; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item.rbc-image-inactive .rbc-resultlist-item__image {
      display: none; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item.rbc-image-inactive .rbc-resultlist-item__details {
      width: 100%;
      padding: 0; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item.rbc-image-active.rbc-image-small .rbc-resultlist-item__image {
      width: 100px;
      height: 100px; }
    .rbc-resultlist-scroll-container .rbc-resultlist-item.rbc-image-active.rbc-image-small .rbc-resultlist-item__details {
      width: calc(100% - 100px);
      padding: 0 10px; }

@media all and (max-width: 767px) {
  .rbc-resultlist-scroll-container .rbc-resultlist-item__image {
    width: 120px;
    height: 120px; }
  .rbc-resultlist-scroll-container .rbc-resultlist-item__details {
    width: calc(100% - 120px); }
  .rbc-resultlist-scroll-container .rbc-resultlist-item.rbc-image-inactive .rbc-resultlist-item__image {
    display: none; }
  .rbc-resultlist-scroll-container .rbc-resultlist-item.rbc-image-inactive .rbc-resultlist-item__details {
    width: 100%;
    padding: 0; } }

.rbc-resultlist-container {
  height: auto;
  max-height: 700px;
  overflow: auto;
  margin: 5px 0;
  padding-bottom: 45px; }
  .rbc-resultlist-container .rbc-placeholder {
    padding: 60px 15px;
    text-align: center; }
  .rbc-resultlist-container.rbc-sort-active .rbc-sortoptions {
    position: absolute;
    right: 0;
    margin: 10px 0; }
    .rbc-resultlist-container.rbc-sort-active .rbc-sortoptions select {
      height: 32px; }

.rbc-resultlist {
  position: relative; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.rbc.rbc-viewswitcher {
  background-color: transparent; }
  .rbc.rbc-viewswitcher .rbc-list-container {
    display: flex;
    justify-content: flex-end; }
    .rbc.rbc-viewswitcher .rbc-list-container .rbc-list-item {
      padding: 3px 10px;
      background-color: #fff;
      border: 1px solid #eaeaea;
      border-left: 0;
      cursor: pointer;
      transition: all .3s ease;
      -webkit-transition: all .3s ease; }
      .rbc.rbc-viewswitcher .rbc-list-container .rbc-list-item.active {
        background-color: #f2f2f2; }
      .rbc.rbc-viewswitcher .rbc-list-container .rbc-list-item:first-child {
        border-left: 1px solid #eaeaea; }
